* {
  margin: 0px;
  padding: 0px; }

body {
  background: #fffffa; }

header {
  width: 100%;
  position: fixed;
  z-index: 2; }
  header nav {
    width: 40%;
    background-color: #8C4B9B;
    text-align: center;
    font-size: 17px; }
    header nav ul {
      overflow: hidden; }
      header nav ul li {
        list-style: none;
        display: block;
        border-bottom: 3px solid whitesmoke; }
        header nav ul li a {
          color: whitesmoke;
          padding: 15px;
          text-decoration: none;
          display: block; }
          header nav ul li a:hover {
            text-decoration: none;
            background-color: #F49CD2;
            color: #8C4B9B;
            text-align: center; }
        header nav ul li i {
          margin-right: 10px; }
  header .menu_bar {
    display: block; }
    header .menu_bar .bt-menu {
      display: block;
      padding: 20px;
      color: #F7FBF9;
      font-weight: bold;
      font-size: 25px; }
    header .menu_bar i {
      background-color: #8C4B9B;
      padding: 10px;
      border-radius: 7px;
      font-size: 40px;
      cursor: pointer; }
      header .menu_bar i:hover {
        background-color: #F49CD2;
        border: 1px solid #8C4B9B;
        color: #8C4B9B; }

.contenido {
  background-image: url(../img/header-ali-01.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100% 450px;
  background-attachment: fixed;
  background-position: 50% 0%;
  color: #380722;
  transition-duration: 3s, 5s;
  transition-property: opacity, left, top, height; }
  .contenido h1 {
    width: 70%;
    margin: 60px auto; }

img {
  width: 100%; }

section {
  text-align: center; }

hr {
  height: 2px;
  width: 5%;
  margin: auto; }

.section-2 {
  background-color: #FFFDF7;
  padding: 30px; }
  .section-2 .foto {
    border-radius: 100%;
    height: 200px;
    width: 80%;
    padding: 5px; }
  .section-2 i {
    font-size: 30px;
    margin: 10px;
    color: #EC4790; }
  .section-2 h1 {
    color: #EC4790; }
  .section-2 hr {
    background-color: #EC4790; }
  .section-2 h2 {
    color: #8C4B9B; }
  .section-2 h3 {
    color: #EC4790; }

.section-3 {
  background-color: #5F77CB;
  padding: 50px 50px 70px 50px; }
  .section-3 h1 {
    color: whitesmoke;
    display: inline-block; }
  .section-3 .cuadro {
    background-color: #F9D6E4;
    padding: 5px;
    border: 5px solid #EC4790;
    border-radius: 20px;
    width: 80%;
    margin: 40px; }
  .section-3 img {
    width: 80%;
    height: 100px; }

.section-4 .trabajos {
  background-color: #F49CD2;
  width: 100%;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 40px;
  border: 4px solid #5F77CB;
  border-radius: 10px; }
  .section-4 .trabajos:hover {
    background-color: #5F77CB;
    box-shadow: 0px 4px 5px #000; }
    .section-4 .trabajos:hover img {
      width: 90%;
      box-shadow: 0px 4px 5px #000; }
    .section-4 .trabajos:hover button {
      background-color: #F49CD2; }
      .section-4 .trabajos:hover button:hover {
        background-color: #5F77CB;
        box-shadow: 0px 4px 5px #000; }
  .section-4 .trabajos button {
    display: block;
    margin: 30px auto; }
  .section-4 .trabajos img {
    margin-top: 20px;
    width: 80%;
    height: 200px;
    border-radius: 10px; }

.section-5 {
  background-color: #EC4790;
  color: whitesmoke;
  padding: 40px; }
  .section-5 .row i {
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 40px;
    cursor: pointer;
    color: whitesmoke;
    text-shadow: 0px 4px 6px #4B4B4B; }

footer .container {
  background-color: #8C4B9B;
  height: 100px;
  color: white;
  padding: 30px; }

/*# sourceMappingURL=main.css.map */
