.contenido{
	h1{
		font-family: 'Kaushan Script', cursive;
		font-size: 60px;
		font-width:20px;
	}
}
section{
	h1{
		font-family: 'Lato', sans-serif;
	}
	h2{

		font-family: 'Dekko', cursive;
		
	}
	p{
		font-family: 'Dekko', cursive;
		font-size: 23px;
	}
}