*{
	margin:0px;
	padding:0px;
}
body{
	background:#fffffa;
}
header{
	width:100%;
	.menu_bar{
		display: none;
	}
	nav{
		width:90%;
		margin:20px auto;
		max-width: 1000px;
		background-color:red;
		ul{
			overflow:hidden;
			li{
				list-style: none;
				float:left;
				a{
					color:white;
					padding:20px;
					text-decoration:none;
					display:block;
					&:hover{
						background:blue;
						text-decoration:none;
						color:white;
					}
				}
				i{
					margin-right: 10px;
				}
			}
		}
	}
}
@media screen and (max-width:800px){
	header {
		nav{
			width:80%;
			height: 100%;
			margin:0px;
			position:fixed;
			ul{
				li{
					display:block;
					float:none;
					border-bottom:3px solid white;
				}
			}
		}
		.menu_bar{
			display:block;
			width:100%;
			background:#ccc;
			.bt-menu{
				display:block;
				padding:20px;
				background:blue;
				color:white;
				font-weight: bold;
				font-size:25px;
			}
			i{
				float:right;
				font-size: 40px;
			}
		}
	}
}