*{
	margin:0px;
	padding:0px;
}
body{
	background:#fffffa;
}
header{
	width:100%;
	position:fixed;
	z-index:2;
	nav{
		width:40%;
		background-color:$lilaOscuro;
		text-align: center;
		font-size: 17px;
		ul{
			overflow:hidden;
			li{
				list-style: none;
				display:block;
				border-bottom:3px solid whitesmoke;
				a{
					color:whitesmoke;
					padding:15px;
					text-decoration:none;
					display:block;
					&:hover{
						text-decoration:none;
						background-color:$rosaClaro;
						color:$lilaOscuro;
						text-align: center;
					}
				}
				i{
					margin-right: 10px;
				}
			}
		}
	}
	.menu_bar{
			display:block;
			.bt-menu{
				display:block;
				padding:20px;
				color:#F7FBF9;
				font-weight: bold;
				font-size:25px;
			}
			i{
				background-color:$lilaOscuro;
				padding:10px;
				border-radius:7px;
				font-size: 40px;
				cursor: pointer;
				&:hover{
					background-color:$rosaClaro;
					border:1px solid $lilaOscuro;
					color:$lilaOscuro;
				}
			}
	}
}
.contenido{
	background-image:url(../img/header-ali-01.jpg);
	height:450px;
	background-repeat:no-repeat;
	background-size:100% 450px;
	background-attachment: fixed;
	background-position:50% 0%;
	color:#380722;
	transition-duration: 3s, 5s;
	transition-property: opacity, left, top, height;
	h1{
		width:70%;
		margin:60px auto;
	}
}
img{
	width:100%;
}
section{
	text-align:center;
}
hr{
	height:2px;
	width:5%;
	margin:auto;
}
.section-2{
	background-color:#FFFDF7;
	padding:40px;
	.foto{
		border-radius:25px;
		height:200px;
		width:80%;
		padding:7px;
		border-right:3px solid $rosaOscuro;
	}
	.row{
		i{
			font-size:30px;
			margin-left:50px;
			margin-top: 20px;
			color:#400B31;
		}
	}
	h1{
		color:$azulOscuro;
		i{
			color:$azulOscuro;
		}
	}
	hr{
		background-color:$azulOscuro;
	}
	h2,h5{
		color:$rosaOscuro;
	}
	h3{
		color:#400B31;
	}
}
.section-3{
	background-color:$azul;
	padding:30px 10px 50px 20px;
	h1{
		color:whitesmoke;
		display:inline-block;
	}
	hr{
		background-color:white;
	}
	.cuadro{
		background-color:#F9D6E4;
		padding:5px;
		border:5px solid $rosaOscuro;
		border-radius:20px;
		width:90%;
		margin-top: 40px;
	}
	img{
		width:90%;
		height:100px;
	}
}
.section-4{
	
}
.section-5{
	background-color:$rosaOscuro;
	color:whitesmoke;
	padding:40px;
	.row{
		i{
			font-size: 60px;
			margin-top:70px;
			margin-bottom:40px;
			cursor: pointer;
			color:whitesmoke;
			text-shadow:0px 4px 6px #4B4B4B;
			
		}
	}
}
footer{
	.container{
		background-color:$lilaOscuro;
		height:100px;	
		color:white;
		padding:30px;
	}
}